/* Fontes
--------------------------------------*/

/* Variaveis
--------------------------------------*/

/* Geral
--------------------------------------*/

/* Cabecalho
--------------------------------------*/

.botao-menu .fechar {
  display: none;
}

.menu {
  display: none;
}

.menu-aberto .menu {
  display: block;
}

.menu-aberto .botao-menu .fechar {
  display: inline;
}

.menu-aberto .botao-menu .abrir {
  display: none;
}

/* Home
--------------------------------------*/

/* Paginas
--------------------------------------*/

/* Rodapé
--------------------------------------*/
