<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<header class="colorido inline">
  <div class="intro">
    <span class="separador">*</span><!--
    --><span>Processing Community Day</span><!--
    --><span class="separador">*</span><!--
    --><span>Brasil</span><!--
    --><span class="separador">*</span><!--
    --><span class="data">02 de Dezembro de 2023</span><!--
    --><span class="separador">*</span><!--
    --><span class="mensagem">Em breve programação.</span><!--
    --><span class="separador">*</span>
  </div>
</header>