<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<header class="cabecalho colorido inline">
  <div class="intro">
    <span class="separador">*</span><!--
    --><span><a href='{{ .Site.BaseURL }}'>Processing Community Day</a></span><!--
    --><span class="separador">*</span><!--
    --><span>Brasil</span>{{ if .IsHome }}<!--
    --><span class="separador">*</span><!--
    --><span class="data">02 de Dezembro de 2023</span><!--
    --><span class="separador">*</span><!--
    --><span class="mensagem">Em breve programação.</span><!--
    --><span class="separador">*</span>{{ end }}
  </div>
</header>