<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<header class="cabecalho colorido inline">
  <div class="intro">
    <span class="separador">*</span><!--
    --><span><a href='{{ absURL ""}}'>Processing Community Day</a><i> </i></span><!--
    --><span class="separador">*</span><i> </i><!--
    --><span>Brasil</span><i> </i>{{ if .IsHome }}<!--
    --><span class="separador">*</span><i> </i><!--
    --><span class="data">02 de Dezembro de 2023</span><i> </i><!--
    --><span class="separador">*</span><!--
    -->{{ end }}
  </div>
</header>