<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<footer class="rodape colorido inline">
  <span class="separador">*</span><!--
  --><span>Organizado pela comunidade Processing Brasil, <a href="{{ .Site.BaseURL }}sobre/">Saiba mais</a>. Conheça nosso <a href="{{ .Site.BaseURL }}codigo-conduta/">Código de Conduta.</a></span><!--
  --><span class="separador">*</span>
</footer>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>