<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>
<div class="secao">
  <header class="secao-header">
  <h2 class="secao-titulo colorido "><span class="separador">*</span><span>{{ .Get 0 }}</span><span class="separador">*</span></h2>
  </header>
  <div class="secao-conteudo">
  {{ .Inner | markdownify }}
  </div>
</div>
<div class="divisoria"><span>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%</span></div>